<%include partials/header%>
<div class="text-center intro" >
    <h1>Welcome to Wild Camp</h1>
<div class='text'>
    <h2>Our mission is simple, build a community of people connected through their love of wild places.</h2>
<h3> We are Climbers, Hikers, Skiers, ADV Riders and Explorers.</h3> 
<h3>We are your ticket to the next adventure.</h3> <h3> A basecamp for the weekend warrior.</h3> <h3> A Wild Home.</h3> 
</div>
<div id='quote' >
    <p><span class='underline' >"In wildness is the preservation of the world"</span> - Henry David Thoreau</p>

</div>



<%# <h4>We Are Wild Camp</h4> %>
</div>


    
  
    
      
      
     

  

<%include partials/footer%>
